<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle"  >Login</div>
      <div class="container">
        <input type="email" class="focus text-field" placeholder="Email" autocomplete="off" value="{{email::input}}" /><br><br>
        <input type="password" placeholder="Password" autocomplete="off" value="{{password::input}}"/>
        <label for="labelResultadoLogin">[[mensaje]]</label><br><br>
        <button on-click="checkLogin" class="col-lg-4 col-xs-12 btn btn-success">Login</button>
      </div>
    </div>
  </template>

  <script>

  class MyView1 extends Polymer.Element {
    static get is() { return 'my-view1'; }
    static get properties() {
      return {
        email: {
          type: String,
          value: ''
        },
        password: {
          type: String,
          value: ''
        },
        mensaje: {
          type: String,
          value: ''
        }
      };
    }
    checkLogin()
    {
      //if (this.email == "micorreo@postal.es")
      //    {
      //      this.mensaje = "Login correcto"
      //    }
      //    else
      //    {
      //      this.mensaje = "Login incorrecto"
      //    }
      var datos = {"email":this.email,"password":this.password};
      var request = new XMLHttpRequest();
      //request.open("POST", "http://servidorback:3000/login", false);
      request.open("POST", "http://localhost:3000/login", false);
      request.setRequestHeader("Content-Type", "application/json");
      request.send(JSON.stringify(datos));
      console.log(request.responseText);

      // if (request.responseText == "Cliente valido") {
      //     this.ocultar = true;
      // }
      if (request.responseText == "Cliente valido") {
          this.mensaje = "Login Correcto"
      }
      else {
          this.mensaje = "Login Incorrecto"
      }
    }
  }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
