ahhh si que se ven
en la pestaña Merged
https://Laresdes@bitbucket.org/laresdestechu/polymer-20171121.git
has visto algo de la practica?, yo solo estuve mirando lo de J
y la verdad q tenia un monton de cosas importadas q ni idea...
si, he estado mirando alguna página chula de la que nos podamos copiar diseño
También he sacado un par de chuletas muy guapas de javascript y diseño responsive
a ver si nos da la plantilla y vemos de donde partimos... luego se lo vuelvo a recordar
ok
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="login-visor">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <div class="container">
     <label for="labelLogin">Login</label> <br>
     <label for="labelEmail">Email</label>
     <input name="email" type="email" value="{{email::input}}"> <br>
     <label for="labelPassword">Password</label>
     <input name="password" type="password" value="{{password::input}}">
     <label for="labelResultadoLogin">{{mensaje::input}}</label> <br>
     <button on-click="checkLogin" class="col-lg-4 col-xs-12 btn btn-success">Login</button>
   </div>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class LoginVisor extends Polymer.Element {
     static get is() { return 'login-visor'; }
     static get properties() {
       return {
         email: {
           type: String,
           value: ''
         },
         password: {
           type: String,
           value: ''
         },
         mensaje: {
           type: String,
           value: ''
         }
       };
     }
     checkLogin()
     {
       if (this.email == "micorreo@postal.es")
           {
             this.mensaje = "Login correcto"
           }
           else
           {
             this.mensaje = "Login incorrecto"
           }
     }
   }

   window.customElements.define(LoginVisor.is, LoginVisor);
 </script>
</dom-module>
